<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>programcının günlüğü</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="header">
        <img src="../static/img/logo.svg" alt="logo" width="30" height="30">
        <ul class="main-list">

        </ul>
      </header>
      <main class="main-login">
        {% block content %}
        <form action="{{ url_for('login') }}" method="POST" class="login">
            <p class="error">{{error}}</p>

            <!-- Ödev #2. Giriş alanları oluştur -->
             <label for="email">
              <input class="form__input" type="email" id="email" name="email" placeholder="E-postanızı giriniz">
             </label>

             <label for="password">
              <input class="form__input" type="password" id="password" name="password" placeholder="Şifrenizi giriniz">
             </label>

            

            <!--  -->
                <button class="form__button">Giriş</button>
                <a href="/reg" class="form__button reg__link">Kayıt</a>
        </form>
        {% endblock %}
      </main>
</body>
</html>
